@import "~normalize.css";
@import "font-roboto.css";

body {
    font-family: 'MyRoboto', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    height: 60px;
    width: 200px;
    margin: 0 auto;
}